################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Teocuitla.Web/bin/Debug/net9.0
/Teocuitla.Shared/obj
/Teocuitla.Shared/bin/Debug/net9.0
/Teocuitla.Web/obj
/Teocuitla.Worker/bin/Debug/net9.0
/Teocuitla.Worker/obj
/Teocuitla.Tests/bin/Debug/net9.0
/Teocuitla.Tests/obj
/.vs/Teocuitla/CopilotIndices/17.14.1641.39856
/.vs/Teocuitla/CopilotIndices/17.14.1691.21253
/.github/copilot-instructions.md
/.vs/Teocuitla/FileContentIndex
/.vs/Teocuitla/v16/.suo
/.vs/Teocuitla/v17
/.vs/Teocuitla/DesignTimeBuild
/.vs/Teocuitla/config
/.vs/ProjectEvaluation
/Teocuitla.Web/bin/Release/net9.0
/Teocuitla.Shared/bin/Release/net9.0
/Teocuitla.Tests/bin/Release/net9.0
/Teocuitla.Worker/bin/Release/net9.0
/Teocuitla.Worker/Properties/PublishProfiles
