################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Teocuitla.Web/bin/Debug/net9.0
